{% extends 'base.html.twig' %}
{% block bodyClass %}about{% endblock %}
{% block body %}
    <div class="container header">
        <a class="btn btn-lg btn-secondary " href="{{ path('homepage') }}">Home</a>
    </div>
    <div class="containerL">
        {#<div class="wrap">#}
            <div class="content">
                <h1>about</h1>
                <div>
                    <span id="typed"></span>
                    {#<p>My name is Hugo Lantillon, I am 19 years old, born in Lyon, I live and work in Lyon.#}
                        {#I started at Ynov Campus University after a Technical Bachelor's degree in Computer Science,#}
                        {#I am currently in the 2nd year of my Bachelor's degree where I specialized in programming,#}
                        {#I quickly developed this passion following a project that was carried out both at the university and outside.</p>#}
                </div>
            </div>
            <div class="statistic-section">
                <div class=" statistics statistics-section s-title">
                    <p>Statistics</p>
                </div>

                <div class=" statistic-list element">
                    <div class=" statistic-list__item">
                        <p>sport that I practice</p>
                        <h2>Football</h2>
                    </div>
                    <div class=" statistic-list__item">
                        <p>Languages I use</p>
                        <h2> JAVA / Swift 4</h2>
                    </div>
                    <div class=" statistic-list__item">
                        <p>Line of code via GitHub</p>
                        <h2>12 921</h2>
                    </div>
                </div>
            </div>
        {#</div>#}
    </div>
{% endblock %}
