{% extends 'base.html.twig' %}
{% block bodyClass %}about{% endblock %}
{% block body %}
    <div class="container header">
        <a class="btn btn-lg btn-secondary " href="{{ path('homepage') }}">Home</a>
    </div>
    <div class="containerL">
        {#<div class="wrap">#}
            <div class="content">
                <h1>about</h1>
                <div>
                    <p>Quo cognito Constantius ultra mortalem modum exarsit ac nequo casu idem Gallus de futuris
                        incertus agitare quaedam conducentia saluti suae per itinera conaretur, remoti sunt omnes
                        de industria milites agentes.</p>
                </div>
            </div>
            <div class="statistic-section">
                <div class=" statistics statistics-section s-title">
                    <p>Statistics</p>
                </div>

                <div class=" statistic-list element">
                    <div class=" statistic-list__item">
                        <p>sport that I practice</p>
                        <h2>Football</h2>
                    </div>
                    <div class=" statistic-list__item">
                        <p>Languages I use</p>
                        <h2> PHP / Swift 4</h2>
                    </div>
                    <div class=" statistic-list__item">
                        <p>Line of code via GitHub</p>
                        <h2>91 921</h2>
                    </div>
                </div>
            </div>
        {#</div>#}
    </div>
{% endblock %}
