{% extends 'base.html.twig' %}
{% block bodyClass %}resume{% endblock %}
{% block body %}
    <div class="container header">
        <a class="btn btn-lg btn-secondary " href="{{ path('homepage') }}">Home</a>
    </div>
<div class="containerL">
    <div class="col a6-12 c12-12">
        <h2>Resume</h2>
    </div>

<div class="resume">
    <section>
        <p>Download My Resume </p>
        <div class="box-2">
            <div class="btn btn-two">
                <a target="_blank" rel="noopener" href="/uploads/cvHugofinal.pdf">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 80" x="0px" y="0px">
                        <path d="M30.5054,51.3291a2,2,0,0,0,2.9892,0l16-18A2,2,0,0,0,48,30H40V6a2,2,0,0,0-2-2H26a2,2,0,0,0-2,2V30H16a2,2,0,0,0-1.4946,3.3291ZM26,34a2,2,0,0,0,2-2V8h8V32a2,2,0,0,0,2,2h5.5464L32,46.9893,20.4536,34Z"/>
                        <path d="M53,42a2,2,0,0,0-2,2V54a2.0023,2.0023,0,0,1-2,2H15a2.0023,2.0023,0,0,1-2-2V44a2,2,0,0,0-4,0V54a6.0066,6.0066,0,0,0,6,6H49a6.0066,6.0066,0,0,0,6-6V44A2,2,0,0,0,53,42Z"/>
                    </svg>
                </a>
            </div>
        </div>
        <section class="experience">
            <aside>
                <div class="experience formation-list">
                    <div class="formation-list__item">
                        <h2>Educations📚</h2>
                        <h5>2017-2022 Ynov Campus</h5>
                        <div>
                            <p>2nd Year of Bachelor of Computer Architect and Information System Architect.</p>
                        </div>
                        <h5>2017- BAC PRO S.E.N</h5>
                        <div>
                            <p>Electronic and Digital system with network option.</p>
                        </div>
                    </div>
                </div>
                <div class="experience job-list">
                    <div class="job-list__item">
                        <h2>Experiences 📈 </h2>
                        <h5>AVA6</h5>
                        <time>June 2018 - September 2018</time>
                        <div>
                               <p>During this period I was able to work on virtualized infrastructures under Vmware and I had to answer to problems of Managed customer tickets management.
                                   I also managed the backup operating tasks, I went into intervention for a period at GL Events and within the Caisse d'Epargne
                               </p>
                        </div>
                        <h5>YAD informatique</h5>
                        <time>November 2016 - February 2017 (internship)</time>
                        <time>July 2017 (job)</time>
                        <div>
                            <p>Troubleshooting, PC analysis & repair, remote maintenance. Migration of data from a server throughout
                                the company to a more recent one (EXCHANGE, CRM, SQL...) </p>
                        </div>
                        <h5>ACV Tech'</h5>
                        <time>January 2016 - March 2016</time>
                        <div>
                            <p>  Troubleshooting & maintenance at customers' premises, as well as in medical clinics,
                                remote maintenance (TeamViewer). As well as training on medical software (Axisanté, WEDA)
                            </p>
                        </div>
                    </div>
                </div>
            </aside>

            <main>
                <div class="experience skills-list">
                    <div class="skills-list__item">
                        <h2>HardSkills  🛠</h2>
                            <h5>Developpement WEB</h5>
                            <div>
                               <ul>
                                   <li>Social Network, using PHP framework / MySQL </li>
                                   <li>Project Generate Tournament Three, using Javascript </li>
                                   <li>e-commerce website using PHP / Javascript / MySQL </li>
                               </ul>
                            </div>
                        <h5>Base GNU UNIX/Linux</h5>
                        <div>
                            <ul>
                                <li>Debian Server using DNS / DHCP / FIREWALL / FTP  </li>
                                <li>Authentification server on SAMBA 4 using Kerberos  </li>
                                <li>Web server using NGINX / Apache </li>
                            </ul>
                        </div>
                        <h5>Developpement Logiciel / Mobile </h5>
                        <div>
                            <ul>
                                <li>POO (Java / C# .NET)</li>
                                <li>Swift 4 using Firebase / Ar kit</li>
                                <li>Fundamentals of Java Android</li>
                            </ul>
                        </div>
                        <h5>Network & infrastructure</h5>
                        <div>
                            <ul>
                                <li>Vmware ESXi</li>
                                <li>Windows Server DNS / DHCP / Exchange 2013 / VPN /</li>
                                <li>Cisco CCNA </li>
                            </ul>
                        </div>
                        <h5>sécurity & Hacking</h5>
                        <div>
                            <ul>
                                <li>Formations on CEH (certified ethical hacker) </li>
                                <li> Implementation of a capture the flag exploiting web and network vulnerabilities </li>
                            </ul>
                        </div>
                        {#<div class="side flex-1">
                            <p>
                                <button type="button"onclick="move9()" class="btn btn-warning btn-lg btn-block">Cliquez pour découvrir mes compétences</button>
                                <div class="side flex-1">
                                    <h2><i class="fas fa-code-branch"></i> Mes compétences Réseaux</h2>
                            <p><ul>
                                <li><span style="color:#dc3545"><strong>Administration Environnement Server Microsoft</strong></span></li>
                            </ul>

                            <div class="progress">
                                <div class="bg-danger progress-bar" id="myBar9" style="text-align:center; width:0%"></div>
                            </div>
                            <script>
                                function move9() {
                                    var elem = document.getElementById("myBar9");
                                    var width = 20;
                                    var id = setInterval(frame, 18);
                                    function frame() {
                                        if (width >= 60) {
                                            clearInterval(id);
                                        } else {
                                            width++;
                                            elem.style.width = width + '%';
                                            elem.innerHTML = width * 1  + '%';
                                        }
                                    }
                                }
                            </script>
                        </div>#}
                    </div>
                </div>
            </main>
        </section>
    </section>
</div>
</div>
            {% endblock %}