body.about {
  background: #f0f0f2;
  font-size: 75%;
  .header {
    padding: 8vw 0 0 0;

    a {
      font-weight: normal;
      font-style: normal;
      font-size: 28px;
      line-height: 24px;
      text-transform: uppercase;
      color: #1a1a1a;
      position: relative;
      top: 2.5vh;
      left: 2.5vh;
      display: block;
      cursor: pointer;
      background: #f0f0f2;
      width: 200px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-70%);
        width: 0;
        background-color: #181818;
        height: 5px;
        transition: width 0.4s;
      }

      &:hover {
        &::after {
          width: calc(75% + 12px);
        }
      }
    }
  }
  .container {
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 10px 0 100px 0;

    a {
      left: 0;
    }
  }


  .containerL {
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .wrap {
      //
      //margin-left: auto;
      //margin-right: auto;
      //width: 100%;
      //padding: 0 2.5vh;
      //z-index: 10;
      //position: relative;


    }

    .content {
        margin: 10px;

      @include breakpoint('375px'){
        margin: 40px 3vw;
      }


      h1 {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 40px;

        @include breakpoint('375px'){
          font-size: 70px;
        }
      }

      div {
        padding: 0 15px;
        position: relative;
        transition: all 850ms cubic-bezier(1, 0, 0, 1);
        margin: 30px 3vw;

        p {
          font-weight: normal;
          font-style: normal;
          font-size: 28px;
          line-height: 32px;
          text-transform: uppercase;
          color: #1a1a1a;
          max-width: 1285px;

          @include breakpoint('375px'){
            font-size: 60px;
            line-height: 60px;

          }
        }
      }
    }
    .statistic-section {
      padding: 55px 3vw;
      justify-content: center;

      .s-title {
        display: block;
        margin: 0 0 40px 0;

        p {
          font-weight: 700;
          text-transform: uppercase;
          font-size: 40px;
          color: #1a1a1a;

          @include breakpoint('375px') {
            font-size: 70px;
          }
        }
      }

      .statistic-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 3vw;
        @include breakpoint('720px') {
          flex-direction: row;
          justify-content: space-around;
        }

        &__item {
          display: flex;
          flex-direction: column;
          max-width: 350px;
          margin: 30px auto;
          font-weight: normal;

          @include breakpoint('720px') {
            margin: 0 20px;
          }

          p {
            text-transform: uppercase;
            font-size: 26px;
            line-height: 1.7;
            margin-top: 0;
            margin-bottom: auto;
            color: #000;


            @include breakpoint('980px') {
              font-size: 38px;
            }
          }

          h2 {
            font-weight: 700;
            font-style: normal;
            text-transform: uppercase;
            font-size: 20px;
            text-align: center;
            margin: 16px 0;

            @include breakpoint('250px') {
              font-size: 32px;
            }
            @include breakpoint('980px') {
              font-size: 56px;
            }
          }
        }
      }
    }
  }
}
