body.resume{
  background: #f0f0f2;
  font-size: 75%;
  .header {
    padding: 8vw 0 0 0;

    a {
      font-weight: normal;
      font-style: normal;
      font-size: 28px;
      line-height: 24px;
      text-transform: uppercase;
      color: #1a1a1a;
      position: relative;
      top: 2.5vh;
      left: 2.5vh;
      display: block;
      cursor: pointer;
      background: #f0f0f2;
      width: 200px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-70%);
        width: 0;
        background-color: #181818;
        height: 5px;
        transition: width 0.4s;
      }

      &:hover {
        &::after {
          width: calc(75% + 12px);
        }
      }
    }
  }
  .container {
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;

  }
  .containerL{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 100px 0 0 5px;

    &::after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    .col {
      font-size: 19px;
      text-align: left;
      direction: ltr;
      vertical-align: top;
      box-sizing: border-box;
      white-space: normal;
      padding-left: 74px;

      h2 {
        font-size: 6vw;
        line-height: 1.3;
        font-weight: bold;
      }
    }

    .btn-two {
      color: #FFF;
      transition: all 0.5s;
      position: relative;
    }
    .btn-two a {

      z-index: 2;
      position: relative;
      width: 130px;
      height: 30px;
      display: flex;

      svg{
        fill: white;
        height: 80%;
        position: relative;
        z-index: 10;
        margin: auto;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(0,0,0,1);
        background-color: black;
      }
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        transition: all 0.5s;
        border: 1px solid rgba(0,0,0,1);
        background-color: black;
      }
      &:hover {

        &::before {
          transform: rotate(-45deg);
          background-color: black;
          border-color: yellow;
        }
        &::after {
          transform: rotate(45deg);
          background-color: black;
          border-color: yellow;
        }
      }
    }

    .resume{
      display: flex;
      flex-direction: column;
      padding: 50px 0 50px 225px;
      align-items: center;

      section{
        p{
          padding: 15px 15px 15px 0;
          font-size: 20px;
          font-weight: 700;
        }
        h1{
          margin: auto auto 20px;
        }
      }
      .experience{
        display: grid;
        grid-template-columns: 1fr;
        margin: 25px auto auto;

        .experience::before{
          content: "";
          position: relative;
          height: 100%;
          width: 1px;
          background-color: #060003;
          opacity: 0.2;
          right: 80px;
          top: 0;
          border-radius: 3px;
        }
        @include breakpoint('375px') {
          grid-template-columns: 1fr 1fr;
        }
        aside,main{
          max-width: 500px;
          margin: 0 3vw;
        }

        .formation-list,.job-list,.skills-list{

          &__item{
           width: 40vw;
            height: auto;
            max-width: 500px;
            position: relative;

            &::before{
              content: "";
              display: block;
              position: absolute;
              height: 12px;
              width: 12px;
              border-radius: 8px;
              background-color: #044abc;
              left: -80px;
              top: 20px;
              -webkit-transform: translateX(-48%);
              -ms-transform: translateX(-48%);
              transform: translateX(-48%);
            }


            h2{
              font-size: 32px;
              font-weight: 800;
              padding: 10px 0 30px 0;
              color: #044abc;
            }
            h5{
              font-size: 22px;
              font-weight: 800;
              padding: 5px 0 15px 0px;
              color: #353349;
            }
            time{
              font-size: 14px;
              padding: 0;
              margin: 0;
            }
            div{
              padding: 0 0 15px;
              p{
                margin: 0;
                padding: 0;
                font-size: 18px;
                font-weight: 600;
                color: #0a0035;
                max-width: 420px;
                width: 100%;
              }
              ul,li{
                max-width: 420px;
                width: 100%;
                font-size: 16px;
                font-weight: 600;
                padding-top: 10px;
                color: #0a0035;
              }
            }
          }
        }
      }
    }
  }
}