.single{
  background: #f0f0f2;
  .header {
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 10px 0 100px 0;

    a {
      font-family: 'medium', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 28px;
      line-height: 24px;
      text-transform: uppercase;
      color: #1a1a1a;
      position: relative;
      top: 2.5vh;
      left: 2.5vh;
      display: block;
      cursor: pointer;
      background-color: #f0f0f2;
      width: 200px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-70%);
        width: 0;
        background-color:#181818;
        height: 5px;
        transition: width 0.4s;
      }

      &:hover {
        &::after {
          width: calc(75% + 12px);
        }
      }
    }
  }
  .containerL{
    position: relative;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    padding: 0;
    margin: 0;

  .intro{
     .container{
       .heading{
         display: flex;
         flex-direction: column;
         h1{
           text-align: center;
           position: relative;
           font-size: 28px;
           width: 70%;
           height: auto;
           margin: 0 0 25px 0;
           z-index: 10;
           align-self: center;

           @include breakpoint('375px') {
             font-size: 40px;
           }
         }
         img{
           position: relative;
           width: 100%;
           height: 100%;
           z-index: 5;
           margin-bottom: 30px;
         }
       }
     }
     .hero-container.module.size-grid{
       .module-content{
         display: grid;
         grid-column-gap: 45px;
         grid-row-gap: 30px;
         grid-template-columns: 1fr;
         justify-content: center;
         align-self: center;
         padding: 0 40px;

         @include breakpoint('1080px') {
           grid-template-columns: 1fr 1fr;
         }
         @include breakpoint('2000px') {
           display: flex;
           flex-wrap: wrap;
         }

         p{
           font-size: 16px;
           height: auto;
           padding: 10px 35px;
           width: 100%;

           @include breakpoint('375px') {
             font-size: 25px;
             margin: 30px;
             max-width: 750px;
           }
           @include breakpoint('1281px') {
             font-size: 40px;
             margin: 70px;
           }
         }

         img{
           max-width: 100%;
           height: auto;
         }
       }
       .hero{

       }
       .module-content-item{
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin: 0 ;
         @include breakpoint('375px') {
           margin: 0 3vw;
         }
         img{
         margin-right: 20px;

           @include breakpoint('375px') {
             margin-right: 40px;
           }

         }
       }
     }
     .meta{
       .content-container{

       }
     }
   }
    .modules{
      .module{
        .image-group{

        }
        .size-grid{

        }
        .module-contents{
          .image-grid{
            .image-container{

            }
            .no-image-caption{

            }
            .no-caption{

            }
          }
        }
      }
      .next-posts{
        .container{
          .prev{
            .thumbnails-container{

            }
          }
          .next{

          }
        }
      }
    }
  }
}