.single{
  background: #f0f0f2;
  .header {
    margin-bottom: auto;
    width: 100%;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 10px 0 100px 0;

    a {
      font-family: 'medium', sans-serif;
      font-weight: normal;
      font-style: normal;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #1a1a1a;
      position: relative;
      top: 2.5vh;
      left: 2.5vh;
      display: block;
      cursor: pointer;
      background-color: #f0f0f2;
      width: 200px;

      @include breakpoint('375px') {
        font-size: 28px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-70%);
        width: 0;
        background-color:#181818;
        height: 5px;
        transition: width 0.4s;
      }

      &:hover {
        &::after {
          width: calc(75% + 12px);
        }
      }
    }
  }

  .container{
    max-width: 1850px;
    padding: 0;

    @include breakpoint('1720px') {
      max-width: 2600px;
    }
  }
  .containerL{
    position: relative;
    height: auto;
    width: 100vw;
    z-index: 1;
    padding: 60px 0;
    margin: 0;

  .intro{
     .container{

       .heading{
         display: flex;
         flex-direction: column;
         h1{
           text-align: center;
           position: relative;
           font-size: 20px;
           width: 70%;
           height: auto;
           margin: 0 0 25px 0;
           z-index: 10;
           align-self: center;

           @include breakpoint('450px') {
              font-size: 40px;
            }
         }
         img{
           position: relative;
           width: 100%;
           height: 100%;
           z-index: 5;
           margin-bottom: 30px;
         }
       }
     }
     .hero-container.module.size-grid{
       width: 95vw;
       .module-content{
         display: flex;
         flex-direction: column;
         padding: 0 40px;
         width: 100%;
         max-width: 1600px;

         h1{
           margin: 70px 0 25px 20px;
           font-size: 22px;

           @include breakpoint('420px') {
             font-size: 32px;
             margin: 100px 0 50px 40px;
           }
           @include breakpoint('1820px') {
             font-size: 40px;
             margin: 100px 0 50px 270px;
           }
         }

         @include breakpoint('1820px') {
           margin: 100px 0 50px 100px;
         }

         p{
           font-size: 14px;
           height: auto;
           padding: 10px 10px;
           width: 100%;

           @include breakpoint('420px') {
             font-size: 22px;
             padding: 10px 35px;
             margin: 30px;
           }
           @include breakpoint('1281px') {
              font-size: 40px;
              margin: 0 70px 20px;
            }

           @include breakpoint('1820px') {
             font-size: 40px;
             margin: 0 270px 20px;
           }
         }
         blockquote{
           align-self: center;
         }

         img{
           max-width: 60%;
           height: 60%;
           align-self: center;

         }
       }
       .hero{

       }
       .module-content-item{
         display: flex;
         flex-direction: row;
         justify-content: center;
         margin: 0;
         @include breakpoint('375px') {
           margin: 0 3vw;
         }
         img{
         margin-right: 20px;

           @include breakpoint('375px') {
             margin-right: 40px;
           }

         }
       }
     }
     .meta{
       .content-container{

       }
     }
   }
    .modules{
      .module{
        .image-group{

        }
        .size-grid{

        }
        .module-contents{
          .image-grid{
            .image-container{

            }
            .no-image-caption{

            }
            .no-caption{

            }
          }
        }
      }
      .next-posts{
        .container{
          .prev{
            .thumbnails-container{

            }
          }
          .next{

          }
        }
      }
    }
  }
}