{% extends 'base.html.twig' %}
{% block bodyClass %}single{% endblock %}

{% block body %}
    <!--Title-->
    <div class="container header">
        <a class="btn btn-lg btn-secondary " href="{{ path('article') }}">Article</a>
    </div>
    <!--Introduction!-->
    <div class="containerL">
    <section class="intro">
        <div class="container">
            <div class="heading">
                <h1>{{ post.introductionPost }}</h1>
                <img src="{{ asset(post.avatarDirectory) }}" alt="">
            </div>
        </div>
            <div class="hero-container module size-grid">
                <div class="module-content">
                    {{ content|raw }}
                </div>
                {#<div class="hero module-content-item">#}
                    {#<img src="http://placehold.jp/450x450.png" alt="">#}
                    {#<img src="http://placehold.jp/450x450.png" alt="">#}
                {#</div>#}
            </div>
    </section>
        {#<section class="modules">#}
            {#<div class="module image-group size-grid">#}
                {#<div class="module-contents">#}
                    {#<div class="image-grid col 2">#}
                        {#<div class="image-container no-image-caption">#}
                            {#<img src="" alt="">#}
                        {#</div>#}
                        {#<div class="image-container no-image-caption">#}
                            {#<img src="" alt="">#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {#<div class="module image size-eight caption-below">#}
                {#<div class="module content">#}
                    {#<div class="image-container no-caption">#}
                        {#<img src="" alt="">#}
                    {#</div>#}
                    {#<div class="side-caption right">#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</section>#}
        <section class="next-posts">
            <div class="container">
                <div class="prev">
                    <div class="thumbnails-container">
                        <a href="">
                            <p class="heading"></p>
                        </a>
                        <a href="">
                            <div class="background-image"></div>
                        </a>
                    </div>
                    <div class="meta-container">
                        <small></small>
                        <h3></h3>
                        <small></small>
                    </div>

                </div>
                <div class="next">
                    <div class="thumbnails-container">
                        <a href="">
                            <p></p>
                        </a>
                    </div>
                    <div class="meta-container">
                        <small></small>
                        <h3></h3>
                        <small></small>
                    </div>

                </div>
            </div>
        </section>
        <div class="footer-copyright text-center py-3">
            <p>© 2019 Copyright <a href="https://mdbootstrap.com/education/bootstrap/"> hugolantillon.ovh</a></p>
        </div>
    </div>

    <!--Footer-->
    <!-- Footer Elements -->

    <!-- Copyright -->

    <!-- Copyright -->
{% endblock %}
