{% extends 'base.html.twig' %}
{% block body %}
<div class="jumbotron">
    <div class="container">

        <h1 class="display-3"> </h1>
        <br/>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="side flex-2">
            <div class="ml-1">
                <br/>
                <hr>
                <article class="article1">
                    <div class="container">
                        <h3 class="titre1">📝  Voici les articles en relations avec les activités que j'ai pu réaliser</h3>
                        <br/>

                    </div>
                </article>
{% endblock %}